<template name="files">
    {{> header }}

    <table class="ui table segment">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Owner</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        {{#each dirs}}
        <tr id="directory-{{_id}}" class="hoverable directory">
            <td><i class="folder icon"></i> {{dirName this}}</td>
            <td>Folder</td>
            <td>{{owner}}</td>
            <td>
                {{#if canDeleteDir this}}
                Delete
                {{/if}}
            </td>
        </tr>
        {{/each}}
        {{#if creatingDir}}
        {{#with newDir}}
        <tr id="new-directory">
            <td class="ui small form segment">
                <div class="field {{newDirIsValid}}">
                    <input type="text" id="new-directory-name" placeholder="Folder Name..." value="">
                </div>
            </td>
            <td>Folder</td>
            <td>{{owner}}</td>
            <td>
                <div id="save-new-directory" class="ui small blue labeled button">Save</div>
            </td>
        </tr>
        {{/with}}
        {{/if}}

        </tbody>
        <tfoot>
        <tr><th colspan="5">
            {{#if creatingDir}}
            <div id="cancel-new-directory" class="ui small red labeled icon button"><i class="minus box sign icon"></i> Cancel</div>
            {{else}}
            <div id="add-directory" class="ui small green labeled icon button"><i class="add sign icon"></i> Folder</div>
            {{/if}}
        </th>
        </tr></tfoot>
    </table>
</template>