<template name="files">
    {{#with currentDir}}
    {{> header crumbs=crumbs }}

    <table id="file-manager" class="ui table segment">
        <thead>
        <tr>
            <th>Name</th>
            <th>Owner</th>
            <th>Size</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#if parent}}
        {{#with parent}}
        <tr id="directory-{{_id}}">
            <td class="directory"><i class="level up icon"></i> ../</td>
            <td>{{owner}}</td>
            <td></td>
            <td></td>
        </tr>
        {{/with}}
        {{/if}}

        {{#each sub}}
        <tr id="directory-{{_id}}">
            <td class="directory"><i class="folder icon"></i> {{name}}</td>
            <td>{{owner}}</td>
            <td>{{formatSize size}}</td>
            <td>
                {{#if canDelete}}
                <div class="ui tiny red labeled delete-directory button">Delete</div>
                {{/if}}
            </td>
        </tr>
        {{/each}}
        </tbody>
        <tbody class="files">
        {{#each files}}
        <tr id="file-{{_id}}" class="hoverable">
            <td class="file"><i class="{{fileIconClass this}} icon"></i> {{metadata.name}}</td>
            <td>{{metadata.owner}}</td>
            <td>{{formatSize size}}</td>
            <td>
                {{#if isUploaded }}
                <div class="ui tiny red labeled delete-file button">Delete</div>

                {{else}}
                <div class="meter">
                    <span style="width: {{uploadProgress}}%"></span>
                </div>
                {{/if}}

            </td>
        </tr>
        {{/each}}
        <tr class="dropzone">
            <td colspan="3">Drop Files</td>
        </tr>
        </tbody>
        {{#if creatingDir}}
        <tbody>
        {{#with newDir}}
        <tr id="new-directory">
            <td class="ui small form segment">
                <div class="field {{newDirIsValid}}">
                    <input type="text" id="new-directory-name" placeholder="Folder Name..." value="">
                </div>
            </td>
            <td>{{owner}}</td>
            <td>
                <div id="save-new-directory" class="ui small blue labeled button">Save</div>
            </td>
        </tr>
        {{/with}}
        </tbody>
        {{/if}}


        <tfoot>
        <tr><th colspan="5">
            {{#if creatingDir}}
            <div id="cancel-new-directory" class="ui small red labeled icon button"><i class="minus box sign icon"></i> Cancel</div>
            {{else}}
            <div id="add-directory" class="ui small green labeled icon button"><i class="add sign icon"></i> Folder</div>
            {{/if}}
        </th>
        </tr></tfoot>
    </table>
    {{/with}}
</template>