<template name="header">
    <header>
        <div class="ui green inverted menu" style="overflow: hidden">
            {{#if loggedIn }}

            <div class="ui item breadcrumb" style="margin-bottom: 0">
                {{#each crumbs }}
                    <a class="section {{active}}" href="/files{{path}}">{{ name }}</a>
                    {{#if notCurrentCrumb this}}
                    <i class="right arrow icon divider"></i>
                    {{/if}}
                {{/each}}

            </div>
            <div class="right menu">
                <a id="logout" class="item">Sign Out <i class="large sign out icon"></i></a>
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>

            </div>
            {{else}}
            <div class="item">Please Sign In</div>
            {{/if}}
        </div>
    </header>

</template>

